/*1. posocionamiento
 2. modelo de caja
 3. tipoGrafia
 4. visuales
 5. otros */

:root{
    /*variables de color*/
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secundary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C ;
    --warm-black1: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}